$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;


$color-black: #000000;
$color-white: #ffffff;
$color-gray: #808080;
$color-orange : #FF9843;
$color-yellow : #FFDD95;
$color-light-blue: #86A7FC;
$color-dark-blue: #3468C0;

$phone: 600px;
$tablet: 800px;