@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "SF Pro Display", sans-serif;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.container {
  max-width: 1500px;
}

html {
  scroll-behavior: smooth;
}

header.scrolled {
  background-color: #000000;
  padding: 0;
}

header {
  background-color: transparent;
  padding: 20px 0;
  position: fixed;
  z-index: 100;
  width: 100%;
  margin: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0784313725);
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 600px) {
  header .header_content {
    padding: 0;
  }
  header .header_content span.header-brand {
    margin-left: 15px;
  }
  header .header_content button.header-bar {
    display: block !important;
    margin-right: 15px;
  }
  header .header_content nav.header-nav {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100vw;
    transition: all 0.5s ease-in-out;
    position: fixed;
    z-index: -1;
    transform: translateY(0);
  }
  header .header_content nav.header-nav ul {
    padding: 0;
  }
  header .header_content nav.header-nav ul li {
    display: block !important;
    text-align: center;
  }
  header .header_content nav.header-nav ul li a {
    font-size: 1.5rem !important;
    font-weight: 700;
    color: #ffffff !important;
  }
  header .header_content nav.header-nav ul li a:hover {
    color: #cccccc !important;
  }
  header .header_content nav.header-nav ul li a#cart span.cart-value {
    font-size: 0.9rem !important;
    font-weight: 700;
    color: #ffffff !important;
  }
}
header .header_content {
  max-width: 1700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_content button.header-bar {
  display: none;
  background-color: transparent;
  color: #ffffff;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
}
header .header_content span.header-brand a {
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
}
header .header_content nav.header-nav.active {
  opacity: 1;
  color: #ffffff;
  transform: translateY(100px);
}
header .header_content nav.header-nav.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.9;
  z-index: -1;
}
header .header_content nav.header-nav ul {
  margin: 0 0;
}
header .header_content nav.header-nav ul li {
  display: inline-block;
}
header .header_content nav.header-nav ul li:not(:last-child) {
  margin-right: 10px;
}
header .header_content nav.header-nav ul li a {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
header .header_content nav.header-nav ul li a:hover {
  color: #808080;
}
header .header_content nav.header-nav ul li a#cart span.cart-value {
  font-size: 0.8rem;
  font-weight: 700;
  color: #ffffff;
}

section.introduction {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='400' preserveAspectRatio='none' viewBox='0 0 1440 400'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1312%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c48 C 72%2c67 216%2c143.6 360%2c143 C 504%2c142.4 576%2c49.6 720%2c45 C 864%2c40.4 936%2c113.4 1080%2c120 C 1224%2c126.6 1368%2c86.4 1440%2c78L1440 400L0 400z' fill='rgba(255%2c 221%2c 149%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c342 C 144%2c330.6 432%2c289.6 720%2c285 C 1008%2c280.4 1296%2c312.2 1440%2c319L1440 400L0 400z' fill='rgba(255%2c 152%2c 67%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1312'%3e%3crect width='1440' height='400' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #000000;
  max-width: 100vw;
  min-height: 100vh;
  padding: 200px 0;
  background-color: #86A7FC;
}
@media only screen and (max-width: 600px) {
  section.introduction .tab-content .tab-content-inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section.introduction .tab-content .tab-content-inner .tab-image img {
    width: 200px;
    max-height: 40%;
    object-fit: cover;
  }
  section.introduction .tab-content .tab-content-inner .tab-desc h3 {
    font-size: 1.5rem !important;
    font-weight: 700;
    color: #000000;
  }
  section.introduction .tab-content .tab-content-inner .tab-desc p {
    font-size: 1rem !important;
    font-weight: 400;
    color: #000000;
    margin: 10px 0;
  }
  section.introduction .tab-content .tab-content-inner .tab-desc button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px !important;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
  }
  section.introduction .tab-content .tab-content-inner .tab-desc button:hover {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 30px;
  }
}
section.introduction .tab-content-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
section.introduction .tab-content-inner .tab-image img {
  width: 400px;
  max-height: 40%;
  object-fit: cover;
}
section.introduction .tab-content-inner .tab-desc h3 {
  font-size: 2rem !important;
  font-weight: 700;
  color: #000000;
}
section.introduction .tab-content-inner .tab-desc p {
  font-size: 1.3rem !important;
  font-weight: 400;
  color: #000000;
  margin: 10px 0;
}
section.introduction .tab-content-inner .tab-desc button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px !important;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}
section.introduction .tab-content-inner .tab-desc button:hover {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 30px;
}
section.introduction .introduction_content .nav-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
section.introduction .introduction_content .nav-tabs .nav-item .nav-link {
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
  border: none;
  transition: all 0.3s ease-in-out;
  padding: 10px 20px;
}
section.introduction .introduction_content .nav-tabs .nav-item .nav-link:hover {
  background-color: transparent;
  transform: scale(1.1);
}
section.introduction .introduction_content .nav-tabs .nav-item .active {
  background-color: transparent;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border: none;
}
section.introduction .introduction_content .tab-content .tab-content-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.introduction .introduction_content .tab-content .tab-content-inner .tab-image img {
  max-width: 600px;
  max-height: 50%;
  object-fit: cover;
  text-align: center;
}
section.introduction .introduction_content .tab-content .tab-content-inner .tab-desc {
  width: 30%;
  text-align: left;
}
section.introduction .introduction_content .tab-content .tab-content-inner .tab-desc h3 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #000000;
}
section.introduction .introduction_content .tab-content .tab-content-inner .tab-desc p {
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
  margin: 10px 0;
}
section.introduction .introduction_content .tab-content .tab-content-inner .tab-desc button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}
section.introduction .introduction_content .tab-content .tab-content-inner .tab-desc button:hover {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 30px;
}

section.products {
  background-color: #ffffff;
  padding: 100px 0;
}
@media only screen and (max-width: 800px) {
  section.products .col-12 {
    max-width: 330px !important;
  }
}
section.products .products_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.products .products_content h1.products-title {
  font-size: 3rem;
  font-weight: 700;
  color: #000000;
}
section.products .products_content select.phone-select {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px 0;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.products .products_content .products_list {
  padding: 20px 0;
}
section.products .products_content .products_list .row {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
section.products .products_content .products_list .row .item {
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  min-height: 600px;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: column;
}
section.products .products_content .products_list .row .item:hover {
  transform: scale(1.02);
}
section.products .products_content .products_list .row .item:hover .item-image::before {
  background-color: rgba(0, 0, 0, 0.1);
}
section.products .products_content .products_list .row .item .item-image {
  position: relative;
  border-radius: 20rem;
}
section.products .products_content .products_list .row .item .item-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
section.products .products_content .products_list .row .item .item-image img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  max-height: 290px;
  object-fit: cover;
}
section.products .products_content .products_list .row .item .item-desc {
  margin: 10px 0;
  white-space: wrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
section.products .products_content .products_list .row .item .item-desc h3.item-name {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000000;
}
section.products .products_content .products_list .row .item .item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
section.products .products_content .products_list .row .item .item-footer p.item-price {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000000;
  margin: 0;
}
section.products .products_content .products_list .row .item .item-footer button.action-btn {
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  background-color: #FF9843;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}
section.products .products_content .products_list .row .item .item-footer button.action-btn:hover {
  background-color: #ff7c10;
}