section.cart {
    padding: 200px 0;


    @include responsive($tablet) {
        .item {
            display: block !important;

            .item-image {
                margin: 0 auto;
                height: 150px !important;
                width: 150px !important;
            }

            .item-desc {
                margin: auto !important;

                .item-name {
                    @include textStyle($font-size: 1.2rem !important, $font-weight: 600, $color: $color-black);
                    padding-top: 10px !important;
                }

                .item-desc-p {
                    @include textStyle($font-size: 0.9rem !important, $font-weight: 400, $color: $color-black);

                }

                .item-price {
                    @include textStyle($font-size: 1rem !important, $font-weight: 600, $color: $color-black);
                }


            }
        }
    }

    .cart_content {
        @include flexStyle(center, center);
        flex-direction: column;
        gap: 10px;

        .total {
            @include flexStyle(center, center);
            flex-direction: row;

            .total_content {
                @include flexStyle(flex-end, center);
                align-items: center;
                flex-direction: row;
                gap: 20px;
                padding: 20px;
                // box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

                h3 {
                    display: inline-block;
                    margin: 0;
                    @include textStyle($font-size: 1.4rem, $font-weight: 600, $color: $color-black);
                }

                button {
                    @include buttonStyle($color-black, $color-white, none, 5px, 10px);
                    transition: all 0.3s ease-in-out;
                    border: 1px solid $color-black;

                    &:hover {
                        background-color: $color-white;
                        color: $color-black;
                    }


                }

            }
        }

        .items_list {
            @include flexStyle(center, center);
            flex-direction: column;
            gap: 5px;



            .item {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: wrap;
                padding: 20px;
                max-width: 800px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                border-radius: 5px;
                @include flexStyle(flex-start, flex-start);
                gap: 20px;
                flex-direction: row;

                .item-image {
                    height: 300px;
                    width: 300px;
                    margin: 0 auto;

                    img {
                        height: 100%;
                        width: 100%;

                        object-fit: contain;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                        border-radius: 5px;
                        padding: 10px;
                        mix-blend-mode: multiply;
                    }
                }

                .item-desc {
                    .item-name {
                        @include textStyle($font-size: 1.4rem, $font-weight: 600, $color: $color-black);

                        margin: 0;

                    }

                    .item-desc-p {
                        @include textStyle($font-size: 1.2rem, $font-weight: 400, $color: $color-black);
                        margin: 0;
                    }

                    .item-price {
                        @include textStyle($font-size: 1.2rem, $font-weight: 600, $color: $color-black);
                        margin: 0;
                    }

                    .item-quantity {
                        @include flexStyle(flex-start, center);
                        gap: 10px;

                        input {
                            padding: 0 10px;
                            height: 30px;
                        }

                        button {
                            &:not(:last-child) {
                                height: 30px;
                                width: 30px;
                                @include buttonStyle($color-black, $color-white, none, 5px, 0 10px);
                            }

                            &:last-child {
                                height: 30px;
                                @include buttonStyle($color-black, $color-white, none, 5px, 0 10px);
                                transition: all 0.3s ease-in-out;

                                &:hover {
                                    background-color: $color-white;
                                    color: $color-black;
                                    border: 1px solid $color-black;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}